PORT=4000
FRONTEND_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/revisa?schema=public"

# Configurações do Google OAuth
GOOGLE_CLIENT_ID="sua_client_id_aqui"
GOOGLE_CLIENT_SECRET="sua_client_secret_aqui"
GOOGLE_REDIRECT_URI="http://localhost:4000/api/auth/google/callback"

# Segurança
JWT_SECRET="chave_super_secreta_para_desenvolvimento_local"